image:
  repository: confluentinc/cp-kafka
  tag: "7.7.1"
  pullPolicy: IfNotPresent

replicas: 1

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1Gi"
    cpu: "1"

storage:
  size: 10Gi
  storageClass: ""

service:
  port: 9092
